:root {
  --azul-escuro: #0B1C2D;
  --azul: #0F2A44;
  --roxo: #6A3DF0;
  --laranja: #F39C12;
  --cinza: #f5f7fa;
  --branco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--azul-escuro);
  background: var(--branco);
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

header {
   background: linear-gradient(135deg, var(--laranja), var(--roxo));
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  /*color: white;*/
  font-weight: 700;
}

nav a {
  color:white; 
  margin-left: 20px;
  text-decoration: none;
}
nav a:hover{
  color: var(--roxo);
}
.btn {
  border: 1px solid var(--laranja);
  padding: 6px 14px;
  border-radius: 20px;
}

.hero {
  height: 100vh;
  background: linear-gradient(135deg, var(--azul-escuro), var(--azul));
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
}

.section {
  padding: 90px 0;
}

.light {
  background: var(--cinza);
}

.dark {
  background: var(--azul);
  color: white;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-top: 20px;
}

p {
  margin-bottom: 15px;
  line-height: 1.6;
}

ul {
  margin-left: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: linear-gradient(135deg, var(--roxo), var(--laranja));
  color: white;
  padding: 25px;
  border-radius: 20px;
}

footer {
  background: var(--azul-escuro);
  color: white;
  text-align: center;
  padding: 30px 10px;
}

.clientes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.cliente {
  background: white;
  padding: 25px 15px;
  text-align: center;
  font-weight: 600;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
}

.cliente:hover {
  transform: translateY(-6px);
}

.gradient {
  background: linear-gradient(135deg, var(--roxo), var(--laranja));
  color: white;
  text-align: center;
}

.destaque {
  font-size: 1.15rem;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.8;
  font-weight: 400;
}
.publico-lista {
  list-style: none;
  max-width: 600px;
  margin: 30px auto 0;
}

.publico-lista li {
  background: white;
  margin-bottom: 12px;
  padding: 15px 20px;
  border-radius: 12px;
  font-weight: 500;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
}


.pacote {
  background: linear-gradient(135deg, var(--roxo), var(--laranja));
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  margin-bottom: 0px;
  color: white;
}

.pacote h3 {
  color: var(--primary);
  margin-bottom: 10px;
}

.pacote ul {
  margin-top: 15px;
}

.pacote ul li {
  margin-bottom: 8px;
}
